@use "../../../styles/media.scss";
.component {
  //   border: 1px solid red;
  display: flex;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;

  .LoginCard {
    min-width: 350px;
    min-height: 400px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    .formFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 1rem;
      a {
        color: #1565c0;
        font-weight: 600;
        font-size: 1rem;
      }
      .rememberMe {
        display: flex;
        align-items: center;
      }
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
      flex-wrap: wrap;
      flex-direction: column;
      h2 {
        margin-block: 10px;
      }
      p {
        // text-transform: uppercase;
        // font-weight: 600;
        font-size: 0.8rem;
        padding-top: 5px;
        align-self: end;
        max-width: 350px;
      }
    }
  }
}
