.container {
    margin: 0 auto;
}

.heading {
    font-size: 20px;
    color: #333;
    text-align: left;
}

.thank-you {
    margin-top: 20px;
    margin-left: 10px;
}

.additional-text {
    margin-top: 10px;
    margin-left: 10px;
}